// Colors
$yellow: #FFE600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #EEEEEE;
$blue: #3483FA;

$color-primary: $yellow;
$color-accent: $blue;

// Fonts
$main-font: -apple-system,Roboto,Helvetica,Arial,sans-serif;
$light: 100;
$regular: 400;
$bold: 600;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 46px;

// Layout
$container-radius: 4px;
$small-space: 16px;
$big-space: 32px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


// Forms
$form-group-radius: 2px;
$form-group-padding: 10px 16px;

// Images
$image-radius: 4px;