$yellow: #FFE600;
$black: #333333;
$dark-gray: #666666;
$gray: #999999;
$light-gray: #EEEEEE;
$green: #3483FA;
$main-font: -apple-system,Roboto,Helvetica,Arial,sans-serif;
$small-padding: 16px;
$big-padding: 32px;