@import '../../../stylesheets/variables';

.picture {
  height: $picture-size;
  width: $picture-size;
}

.info {

  padding-top: $big-space;
  color: $black;

  .condition {
    font-size: $font-sm;
    padding-bottom: $small-space;
  }

  .title {
    font-size: $font-lg;
    padding-bottom: $big-space;
  }

  .price {

    padding-bottom: $big-space;
    %adjust {
      position: relative;
      bottom: 14px;
    }


    .amount {
      font-size: $font-xl;
    }
    .decimals {
      font-size: $font-lg;
      @extend %adjust;
    }
    .shipping {
      @extend %adjust;
      padding-left: 8px;
    }
  }

  .button-container {
    padding-right: $big-space;
  }
}

.description {
  $title-size: 28px;
  $content-size: 16px;

  padding-left: $big-space;

  .title {
    font-size: $title-size;
    color: $black;
    padding-bottom: $big-space;
  }

  .content {
    font-size: $content-size;
    color: $gray;
    padding-bottom: $big-space;
  }
}